{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "3"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "transform-class-properties"
  ],
  "env": {
    "production": {
      "plugins": [
        "uglify:after"
      ]
    }
  }
}