doctype html
html
  head
    style.
      body {
        margin: 0;
        overflow: hidden;
      }
  body
    noscript Bro... do you seariously not have javascript...
    canvas#main-canvas
    script(src="bundle.js")